Repository Guikingone/SchedulerBundle, pull requests merged in 2021-05, with the labels that each got.

#95 refactor(bridge): Doctrine extra sort removed
  composer.json
  src/Bridge/Doctrine/Transport/Connection.php
  src/Task/TaskListInterface.php
  tests/Bridge/Doctrine/Transport/ConnectionIntegrationTest.php
  tests/Transport/FilesystemTransportTest.php
Labels: Bridge, Improvement, PHP, bug

#91 refactor(worker): locked task middleware run
  .symfony.insight.yaml
  assets/sf.foo.LCa0a2j.lock
  rector.php
  src/Bridge/Doctrine/SchemaListener/SchedulerTransportDoctrineSchemaSubscriber.php
  src/Bridge/Doctrine/Transport/Connection.php
  src/Command/ConsumeTasksCommand.php
  src/Expression/ExpressionBuilder.php
  src/Transport/Configuration/FailOverConfiguration.php
  src/Transport/FailOverTransport.php
  src/Transport/LongTailTransport.php
  src/Transport/RoundRobinTransport.php
  src/Worker/Worker.php
  tests/Worker/WorkerTest.php
Labels: Improvement, PHP, bug

#98 Remove daily.yaml workflow & run security daily
  .github/workflows/daily.yml
  .github/workflows/phpunit.yml
  .github/workflows/security.yml
Labels: CI, Improvement

#89 feat(orchestrator) : sort nested tasks (ChainedTask)
  src/SchedulePolicy/SchedulePolicyOrchestrator.php
  tests/SchedulePolicy/SchedulePolicyOrchestratorTest.php
Labels: Improvement, PHP

#66 tests(core): TaskNormalizer & Doctrine transport
  composer.json
  tests/Bridge/Doctrine/Transport/Assets/MessengerMessage.php
  tests/Bridge/Doctrine/Transport/ConnectionIntegrationTest.php
  tests/Serializer/TaskNormalizerTest.php
Labels: Improvement, PHP, bug

#100 Fix badges on README (following daily workflow removal)
  README.md
Labels: Improvement

#101 changelog(0.4.4): tagged
  CHANGELOG.md
Labels: Changelog, Ready to merge, Version

#107 refactor(scheduler): improvements on executed tasks
  doc/command.md
  src/Command/ConsumeTasksCommand.php
  src/Scheduler.php
  tests/Command/ConsumeTasksCommandTest.php
  tests/SchedulerTest.php
Labels: Improvement, PHP, Ready to merge, documentation

#108 changelog(0.4.5): tagged
  CHANGELOG.md
Labels: Changelog, Ready to merge, Version

#114 refactor(scheduler): due tasks filter fixed
  src/Scheduler.php
Labels: Improvement, PHP, Ready to merge, bug

#117 refactor(scheduler): fix on last_execution usage
  src/Scheduler.php
  tests/SchedulerTest.php
Labels: Improvement, PHP, bug, scope: scheduler

#99 build(tools): Rector & PHPStan
  .github/workflows/rector.yml
  Makefile
  README.md
  composer.json
  rector.php
  src/Test/Constraint/TaskFailed.php
  src/Test/Constraint/TaskScheduled.php
  src/Test/Constraint/TaskUnscheduled.php
  src/Transport/RoundRobinTransport.php
Labels: Build, CI, Improvement, PHP, Ready to merge, bug

#120 fix(batchPriority) check out of bounds priority
  src/Task/AbstractTask.php
  tests/SchedulePolicy/BatchPolicyTest.php
  tests/Task/NullTaskTest.php
Labels: Improvement, PHP, bug, scope: schedule policy

#122 changelog(0.4.9): tagged
  CHANGELOG.md
Labels: Changelog, Ready to merge, Version

#72 feat(command): ExecuteTaskCommand introduced
  doc/command.md
  infection.json.dist
  src/Command/ExecuteTaskCommand.php
  src/DependencyInjection/SchedulerBundleExtension.php
  src/SchedulerInterface.php
  src/Task/NullTask.php
  src/Task/TaskList.php
  src/Task/TaskListInterface.php
  src/Transport/ConnectionInterface.php
  src/Transport/FailOverTransport.php
  src/Transport/TransportInterface.php
  src/Worker/Worker.php
  src/Worker/WorkerInterface.php
  tests/Bridge/Redis/Transport/ConnectionIntegrationTest.php
  tests/Bridge/Redis/Transport/ConnectionTest.php
  tests/Bridge/Redis/Transport/RedisTransportTest.php
  tests/Command/ConsumeTasksCommandTest.php
  tests/Command/ExecuteTaskCommandTest.php
  tests/Command/ListTasksCommandTest.php
  tests/DependencyInjection/SchedulerBundleExtensionTest.php
  tests/EventListener/StopWorkerOnTimeLimitSubscriberTest.php
  tests/Expression/ComputedExpressionBuilderTest.php
  tests/Expression/FluentExpressionBuilderTest.php
  tests/SchedulerTest.php
  tests/Task/Builder/ChainedBuilderTest.php
  tests/Task/Builder/CommandBuilderTest.php
  tests/Task/Builder/HttpBuilderTest.php
  tests/Task/Builder/NullBuilderTest.php
  tests/Task/Builder/ShellBuilderTest.php
  tests/Task/NullTaskTest.php
  tests/Task/TaskBuilderTest.php
  tests/Task/TaskExecutionTrackerTest.php
  tests/Transport/DsnTest.php
  tests/Transport/FailOverTransportFactoryTest.php
  tests/Transport/InMemoryTransportFactoryTest.php
  tests/Transport/InMemoryTransportTest.php
  tests/Transport/LongTailTransportFactoryTest.php
  tests/Transport/RoundRobinTransportFactoryTest.php
  tests/Transport/TransportFactoryTest.php
Labels: Improvement, PHP, Ready to merge, scope: command

#123 fix(taskNormalizer): Normalize DateTime microseconds
  src/Serializer/TaskNormalizer.php
  tests/SchedulePolicy/FirstInFirstOutPolicyTest.php
  tests/Serializer/TaskNormalizerTest.php
Labels: PHP, bug, scope: schedule policy

#103 refactor(worker|runner): improvements
  infection.json.dist
  src/DependencyInjection/SchedulerBundleExtension.php
  src/Exception/UnrecognizedCommandException.php
  src/Runner/CallbackTaskRunner.php
  src/Runner/ChainedTaskRunner.php
  src/Runner/CommandTaskRunner.php
  src/Runner/HttpTaskRunner.php
  src/Runner/MessengerTaskRunner.php
  src/Runner/NotificationTaskRunner.php
  src/Runner/NullTaskRunner.php
  src/Runner/RunnerInterface.php
  src/Runner/ShellTaskRunner.php
  src/Transport/InMemoryTransport.php
  src/Worker/Worker.php
  tests/DependencyInjection/SchedulerBundleExtensionTest.php
  tests/Runner/CallBackTaskRunnerTest.php
  tests/Runner/ChainedTaskRunnerTest.php
  tests/Runner/CommandTaskRunnerTest.php
  tests/Runner/HttpTaskRunnerTest.php
  tests/Runner/MessengerTaskRunnerTest.php
  tests/Runner/NotificationTaskRunnerTest.php
  tests/Runner/NullTaskRunnerTest.php
  tests/Runner/ShellTaskRunnerTest.php
Labels: BC breaks, Improvement, PHP, bug, scope: worker

#126 refactor(worker|task): Chained tasks handling + LazyTaskList introduced
  .changelog
  .php-cs-fixer.dist.php
  Makefile
  README.md
  composer.json
  doc/runners.md
  doc/scheduler.md
  doc/worker.md
  infection.json.dist
  phpunit.xml.dist.bak
  src/Bridge/Doctrine/Transport/DoctrineTransport.php
  src/Bridge/Redis/Transport/RedisTransport.php
  src/Command/YieldTaskCommand.php
  src/DependencyInjection/SchedulerPass.php
  src/EventListener/TaskExecutionSubscriber.php
  src/EventListener/TaskSubscriber.php
  src/Runner/ChainedTaskRunner.php
  src/SchedulePolicy/SchedulePolicyOrchestrator.php
  src/Scheduler.php
  src/SchedulerBundle.php
  src/SchedulerInterface.php
  src/Serializer/TaskNormalizer.php
  src/Task/ChainedTask.php
  src/Task/LazyTaskList.php
  src/Task/TaskList.php
  src/Task/TaskListInterface.php
  src/Test/Constraint/TaskExecuted.php
  src/Test/Constraint/TaskFailed.php
  src/Test/Constraint/TaskQueued.php
  src/Test/Constraint/TaskScheduled.php
  src/Test/Constraint/TaskUnscheduled.php
  src/Transport/CacheTransport.php
  src/Transport/FailOverTransport.php
  src/Transport/FilesystemTransport.php
  src/Transport/InMemoryTransport.php
  src/Transport/LongTailTransport.php
  src/Transport/RoundRobinTransport.php
  src/Transport/TransportInterface.php
  src/Worker/AbstractWorker.php
  src/Worker/Worker.php
  src/Worker/WorkerInterface.php
  tests/Bridge/Doctrine/Transport/DoctrineTransportTest.php
  tests/Bridge/Redis/Transport/RedisTransportTest.php
  tests/Runner/ChainedTaskRunnerTest.php
  tests/SchedulePolicy/SchedulePolicyOrchestratorTest.php
  tests/SchedulerTest.php
  tests/Serializer/TaskNormalizerTest.php
  tests/Task/Builder/ChainedBuilderTest.php
  tests/Task/Builder/NullBuilderTest.php
  tests/Task/ChainedTaskTest.php
  tests/Task/LazyTaskListTest.php
  tests/Task/NullTaskTest.php
  tests/Task/TaskListTest.php
  tests/Transport/CacheTransportTest.php
  tests/Transport/FailOverTransportTest.php
  tests/Transport/FilesystemTransportTest.php
  tests/Transport/InMemoryTransportTest.php
  tests/Transport/LongTailTransportTest.php
  tests/Transport/RoundRobinTransportTest.php
  tests/Worker/WorkerTest.php
Labels: BC breaks, Improvement, PHP, bug, scope: schedule policy, scope: worker

#128 Tools/makefile changelog
  Makefile
  composer.json
Labels: Changelog, Improvement, PHP, Ready to merge, Version

#130 build(composer): Symfony 5.3 support
  composer.json
Labels: CI, Improvement, PHP
