Repository Guikingone/SchedulerBundle, pull requests merged in 2021-04, with the labels that each got.

#43 fix(bridge): Doctrine auto_setup
  doc/transport.md
  psalm.xml
  src/Bridge/Doctrine/Transport/Connection.php
  src/Bridge/Doctrine/Transport/DoctrineTransport.php
  src/Bridge/Doctrine/Transport/DoctrineTransportFactory.php
  src/Bridge/Redis/Transport/Connection.php
  src/DependencyInjection/SchedulerBundleExtension.php
  src/Middleware/SchedulerMiddlewareStack.php
  src/Middleware/WorkerMiddlewareStack.php
  src/Task/TaskList.php
  src/Transport/ConnectionInterface.php
  tests/Bridge/Doctrine/SchemaListener/SchedulerTransportDoctrineSchemaSubscriberTest.php
  tests/Bridge/Doctrine/Transport/ConnectionIntegrationTest.php
  tests/Bridge/Doctrine/Transport/ConnectionTest.php
  tests/Bridge/Doctrine/Transport/DoctrineTransportTest.php
  tests/DependencyInjection/SchedulerBundleExtensionTest.php
  tests/SchedulerTest.php
  tests/Task/CallbackTaskTest.php
  tests/Transport/FilesystemTransportTest.php
Labels: BC breaks, Bridge, PHP, bug

#52 refactor(core): improvements
  infection.json.dist
  src/Expression/Expression.php
  src/Expression/FluentExpressionBuilder.php
  src/Middleware/SingleRunTaskMiddleware.php
  src/Runner/CommandTaskRunner.php
  tests/Bridge/Doctrine/Transport/DoctrineTransportFactoryTest.php
  tests/Expression/FluentExpressionBuilderTest.php
  tests/Middleware/SingleRunTaskMiddlewareTest.php
  tests/Middleware/TaskUpdateMiddlewareTest.php
  tests/Runner/CallBackTaskRunnerTest.php
Labels: PHP

#53 changelog(0.4): done
  CHANGELOG.md
  composer.json
  tests/Bridge/Doctrine/Transport/ConnectionTest.php
Labels: Version

#57 refactor(dic): transport key
  CHANGELOG.md
  composer.json
  src/DependencyInjection/SchedulerBundleExtension.php
  tests/DependencyInjection/SchedulerBundleConfigurationTest.php
  tests/DependencyInjection/SchedulerBundleExtensionTest.php
Labels: Improvement, PHP, bug

#62 fix(expression): bad timezone
  src/Expression/FluentExpressionBuilder.php
  tests/Expression/FluentExpressionBuilderTest.php
Labels: Improvement, PHP, bug

#61 refactor(core): worker & subscriber improved
  composer.json
  src/EventListener/TaskSubscriber.php
  src/Worker/Worker.php
  tests/Bridge/Doctrine/Transport/ConnectionIntegrationTest.php
  tests/Task/TaskListTest.php
  tests/Worker/WorkerTest.php
Labels: Improvement, PHP, bug

#71 changelog(0.4): 0.4.2 tagged
  CHANGELOG.md
Labels: Ready to merge, Version

#81 refactor(bridge): Doctrine extra log removed
  src/Bridge/Doctrine/Transport/Connection.php
  tests/Bridge/Doctrine/Transport/ConnectionTest.php
  tests/Bridge/Doctrine/Transport/DoctrineTransportTest.php
Labels: Improvement, PHP, Ready to merge

#83 fix(dic): config:dump-reference
  src/DependencyInjection/SchedulerBundleExtension.php
  tests/DependencyInjection/SchedulerBundleExtensionTest.php
Labels: PHP, Ready to merge, bug

#84 changelog(0.4.3): tagged
  CHANGELOG.md
Labels: Ready to merge, Version
