Repository Guikingone/SchedulerBundle, pull requests merged in 2021-06, with the labels that each got.

#136 refactor(command): ExecuteTaskCommand - name option shortcut removed
  src/Command/ExecuteTaskCommand.php
  tests/Command/ExecuteTaskCommandTest.php
Labels: BC breaks, PHP, bug, scope: command

#137 refactor(worker): fork improved
  README.md
  doc/best_practices.md
  doc/events.md
  doc/worker.md
  src/Event/WorkerForkedEvent.php
  src/EventListener/WorkerLifecycleSubscriber.php
  src/Runner/ChainedTaskRunner.php
  src/Task/ProbeTask.php
  src/Worker/AbstractWorker.php
  src/Worker/WorkerInterface.php
  tests/Event/WorkerForkedEventTest.php
  tests/EventListener/WorkerLifecycleSubscriberTest.php
  tests/Runner/ChainedTaskRunnerTest.php
  tests/Worker/WorkerTest.php
Labels: Improvement, PHP, bug, scope: worker

#138 tools(phpstan): deprecation rules added
  composer.json
  phpstan.neon.dist
  tests/EventListener/ProbeStateSubscriberTest.php
  tests/EventListener/TaskSubscriberTest.php
Labels: CI, Improvement, PHP

#127 feat(command): ListTaskCommand - display substasks
  src/Command/ListFailedTasksCommand.php
  src/Command/ListTasksCommand.php
  src/Task/LazyTaskList.php
  src/Task/TaskList.php
  src/Task/TaskListInterface.php
  tests/Command/ListFailedTasksCommandTest.php
  tests/Command/ListTasksCommandTest.php
  tests/Task/LazyTaskListTest.php
  tests/Task/TaskListTest.php
Labels: Improvement, PHP, Ready to merge, scope: command

#132 feat(core): mercure support
  .github/workflows/infection.yml
  .github/workflows/phpunit.yml
  README.md
  composer.json
  doc/mercure.md
  src/Bridge/Doctrine/Transport/DoctrineTransportFactory.php
  src/Bridge/Redis/Transport/Connection.php
  src/Command/ConsumeTasksCommand.php
  src/Command/ListTasksCommand.php
  src/Command/RemoveFailedTaskCommand.php
  src/Command/RetryFailedTaskCommand.php
  src/Command/YieldTaskCommand.php
  src/DataCollector/SchedulerDataCollector.php
  src/DependencyInjection/SchedulerBundleConfiguration.php
  src/DependencyInjection/SchedulerBundleExtension.php
  src/EventListener/MercureEventSubscriber.php
  src/EventListener/StopWorkerOnTimeLimitSubscriber.php
  src/EventListener/WorkerLifecycleSubscriber.php
  src/Expression/FluentExpressionBuilder.php
  src/Messenger/TaskMessageHandler.php
  src/Middleware/MaxExecutionMiddleware.php
  src/Middleware/NotifierMiddleware.php
  src/Middleware/TaskCallbackMiddleware.php
  src/Probe/Probe.php
  src/Resources/views/Collector/data_collector.html.twig
  src/SchedulePolicy/DeadlinePolicy.php
  src/Task/Builder/ChainedBuilder.php
  src/Task/Builder/HttpBuilder.php
  src/Task/ChainedTask.php
  src/Task/FailedTask.php
  src/Task/LazyTask.php
  src/Task/LazyTaskList.php
  src/Task/NotificationTask.php
  src/Task/ProbeTask.php
  src/Transport/LongTailTransport.php
  src/Transport/RoundRobinTransport.php
  src/Worker/Worker.php
  tests/Bridge/Doctrine/Transport/ConnectionTest.php
  tests/Bridge/Doctrine/Transport/DoctrineTransportTest.php
  tests/Command/ListTasksCommandTest.php
  tests/DependencyInjection/SchedulerBundleConfigurationTest.php
  tests/DependencyInjection/SchedulerBundleExtensionTest.php
  tests/EventListener/MercureEventSubscriberTest.php
  tests/EventListener/ProbeStateSubscriberTest.php
  tests/EventListener/StopWorkerOnTimeLimitSubscriberTest.php
  tests/EventListener/TaskSubscriberTest.php
  tests/EventListener/WorkerLifecycleSubscriberTest.php
  tests/Middleware/MaxExecutionMiddlewareTest.php
  tests/Middleware/NotifierMiddlewareTest.php
  tests/Middleware/TaskCallbackMiddlewareTest.php
  tests/Runner/CommandTaskRunnerTest.php
  tests/SchedulePolicy/DeadlinePolicyTest.php
  tests/SchedulePolicy/SchedulePolicyOrchestratorTest.php
  tests/SchedulerTest.php
  tests/Serializer/NotificationTaskBagNormalizerTest.php
  tests/Serializer/TaskNormalizerTest.php
  tests/Task/ChainedTaskTest.php
  tests/Worker/WorkerTest.php
Labels: Build, Improvement, PHP, scope: scheduler, scope: worker

#143 changelog(0.5.0): tagged
  CHANGELOG.md
Labels: Changelog, Ready to merge

#146 build(composer): constraints
  composer.json
Labels: Build, CI, Improvement

#148 changelog(0.5.1): tagged
  CHANGELOG.md
Labels: Changelog, Ready to merge, Version

#149 refactor(transport): FilesystemTransportFactory improved
  src/Transport/FilesystemTransportFactory.php
  tests/Transport/FilesystemTransportFactoryTest.php
Labels: Improvement, PHP, bug, scope: transport

#150 changelog(0.5.2): tagged
  CHANGELOG.md
Labels: Changelog, Ready to merge, Version

#153 fix(kernel): SchedulerCacheClearer improved
  composer.json
  src/CacheClearer/SchedulerCacheClearer.php
  src/DependencyInjection/SchedulerBundleExtension.php
  tests/CacheClearer/SchedulerCacheClearerTest.php
  tests/DependencyInjection/SchedulerBundleExtensionTest.php
  tests/EventListener/StopWorkerOnTimeLimitSubscriberTest.php
Labels: PHP, bug, scope: scheduler, scope: transport

#154 changelog(0.5.3): tagged
  CHANGELOG.md
  composer.json
Labels: Changelog, Ready to merge, Version
