Repository Guikingone/SchedulerBundle, pull requests merged in 2022-03, with the labels that each got.

#224 feat(expression): add ExactExpressionBuilder
  src/Expression/ExactExpressionBuilder.php
  tests/Expression/ExactExpressionBuilderTest.php
Labels: PHP, Improvement, Ready to merge, scope: scheduler

#227 feat(tasks): add option deleteAfterExecute
  src/Middleware/SingleRunTaskMiddleware.php
  src/Task/AbstractTask.php
  src/Task/TaskInterface.php
  src/Transport/FilesystemTransport.php
  tests/Middleware/SingleRunTaskMiddlewareTest.php
Labels: PHP, Improvement, scope: scheduler

#221 refactor(dic): SchedulerAwareInterface started
  .gitignore
  Makefile
  composer.json
  doc/scheduler.md
  docker-compose.override.yml.dist
  infection.json.dist
  src/DependencyInjection/SchedulerBundleExtension.php
  src/DependencyInjection/SchedulerPass.php
  src/Transport/Dsn.php
  tests/.assets/_symfony_scheduler_/bar.json
  tests/DependencyInjection/SchedulerBundleExtensionTest.php
  tests/SchedulerTest.php
Labels: PHP, Improvement, scope: dependency injection
