Repository Guikingone/SchedulerBundle, pull requests merged in 2022-06, with the labels that each got.

#263 changelog(0.9.3): tagged
  CHANGELOG.md
Labels: Changelog, Ready to merge, Version

#265 refactor(command): fix $defaultName usage deprecation
  src/Command/ConsumeTasksCommand.php
  src/Command/DebugConfigurationCommand.php
  src/Command/DebugMiddlewareCommand.php
  src/Command/DebugProbeCommand.php
  src/Command/ExecuteExternalProbeCommand.php
  src/Command/ExecuteTaskCommand.php
  src/Command/ListFailedTasksCommand.php
  src/Command/ListTasksCommand.php
  src/Command/RebootSchedulerCommand.php
  src/Command/RemoveFailedTaskCommand.php
  src/Command/RetryFailedTaskCommand.php
  src/Command/YieldTaskCommand.php
Labels: PHP, Improvement, scope: command

#269 Drop macOS from Rector & Static analysis workflows
  .github/workflows/rector.yml
  .github/workflows/static-analysis.yml
Labels: CI

#268 Attempt to fix docker workflow
  .cloud/docker/Dockerfile
  .github/workflows/docker.yml
Labels: CI

#266 Fix Normalizers deprecations
  phpstan.neon.8.0.dist
  phpstan.neon.8.1.dist
  src/Serializer/AccessLockBagNormalizer.php
  src/Serializer/NotificationTaskBagNormalizer.php
  src/Serializer/SchedulerConfigurationNormalizer.php
  src/Serializer/TaskNormalizer.php
Labels: PHP, Improvement

#270 Improve .gitattributes
  .gitattributes
Labels: Improvement, Build

#271 ci(github): simplify workflows
  .github/workflows/code-style.yml
  .github/workflows/docker.yml
  .github/workflows/infection.yml
  .github/workflows/phpunit.yml
  .github/workflows/rector.yml
  .github/workflows/security.yml
  .github/workflows/static-analysis.yml
Labels: CI

#273 doc(readme): remove $ so copy to clipboard works
  README.md
Labels: documentation

#281 refactor(command): attribute introduced
  src/Command/ConsumeTasksCommand.php
  src/Command/DebugConfigurationCommand.php
  src/Command/DebugMiddlewareCommand.php
  src/Command/DebugProbeCommand.php
  src/Command/ExecuteExternalProbeCommand.php
  src/Command/ExecuteTaskCommand.php
  src/Command/ListFailedTasksCommand.php
  src/Command/ListTasksCommand.php
  src/Command/RebootSchedulerCommand.php
  src/Command/RemoveFailedTaskCommand.php
  src/Command/RetryFailedTaskCommand.php
  src/Command/YieldTaskCommand.php
Labels: PHP, Improvement, scope: command

#262 build(deps): dev depdencies updated
  .github/workflows/code-style.yml
  .symfony.insight.yaml
  composer.json
  rector.php
  src/DependencyInjection/SchedulerPass.php
  src/Transport/CacheTransport.php
  tests/Transport/CacheTransportTest.php
Labels: PHP, Build

#277 refactor(core): improvement on command display && normalizer condition
  src/Command/ConsumeTasksCommand.php
  src/Serializer/TaskNormalizer.php
Labels: PHP, Improvement, Bug fix

#282 refactor(bridge): Connection improved
  .cloud/docker/Dockerfile
  .github/workflows/infection.yml
  .github/workflows/phpunit.yml
  docker-compose.yaml
  src/Bridge/Doctrine/Transport/Connection.php
  tests/Bridge/Doctrine/Transport/AbstractConnectionIntegrationTest.php
  tests/Bridge/Doctrine/Transport/Configuration/ConnectionIntegrationPostgresqlTest.php
  tests/Bridge/Doctrine/Transport/ConnectionIntegrationSQLiteTest.php
Labels: PHP, Bridge, Bug fix

#286 refactor(core): Scheduler scheduling phase improved
  rector.php
  src/Scheduler.php
  src/Task/TaskList.php
  src/Transport/AbstractTransport.php
  src/Transport/InMemoryTransport.php
  tests/AbstractSchedulerTestCase.php
  tests/Bridge/Doctrine/Transport/ConnectionIntegrationTest.php
  tests/FiberSchedulerTest.php
  tests/LazySchedulerTest.php
  tests/SchedulerTest.php
  tests/Task/TaskListTest.php
Labels: PHP, Bug fix

#287 fix(bridge): exception thrown during task creation
  src/Bridge/Doctrine/Transport/Connection.php
  src/Bridge/Redis/Transport/Connection.php
  tests/Bridge/Doctrine/Transport/AbstractConnectionIntegrationTest.php
  tests/Bridge/Doctrine/Transport/ConnectionIntegrationTest.php
  tests/Bridge/Doctrine/Transport/ConnectionTest.php
  tests/Bridge/Doctrine/Transport/DoctrineTransportTest.php
Labels: PHP, Improvement, Bridge
